<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <!-- WCF service configuration -->

  <system.serviceModel>
    <services>
      <service name="_007Library._007GameManager">
        <endpoint name="_007Game" address="net.tcp://localhost:40000/_007Library/_007GameManager" binding="netTcpBinding" contract="_007Library.I007Game"/>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>